@model ShoppingMarket.WebUI.Models.ProductsViewModel

@{
    ViewData["Title"] = "Home Page";
}
<!-- main-slider -->
<div class="skdslider">
    <ul id="demo1" class="slides">
        <li style="position: absolute; left: 0px; top: 0px; bottom: 0px; right: 0px; display: list-item;">
            <img src="~/images/11.jpg" alt="">
            <!--Slider Description example-->
            <div class="slide-desc">
                <h3>Online Alışverişin En iyi Yeri</h3>
            </div>
        </li>
        <li style="position: absolute; left: 0px; top: 0px; bottom: 0px; right: 0px; display: none;">
            <img src="~/images/22.jpg" alt="">
            <div class="slide-desc">
                <h3>Bütün Ürünler Artık Bizimle</h3>
            </div>
        </li>

        <li style="position: absolute; left: 0px; top: 0px; bottom: 0px; right: 0px; display: none;">
            <img src="~/images/44.jpg" alt="">
            <div class="slide-desc">
                <h3>Karantinada Alışveriş...</h3>
            </div>
        </li>
    </ul><ul class="slide-navs" style="margin-left: -24px;"><li class="slide-nav-0 current-slide"><a></a></li><li class="slide-nav-1"><a></a></li><li class="slide-nav-2"><a></a></li></ul><a class="prev"></a><a class="next"></a><a class="play-control pause" style="display: block;"></a>
</div>
<!-- //main-slider -->
<!-- //top-header and slider -->
<!---728x90--->
<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h2>En Çok Satan Ürünler</h2>
        <div class="grid_3 grid_5">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                @*<ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Advertised offers</a></li>
                        <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Today Offers</a></li>
                    </ul>*@
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
                       
                        <div class="agile_top_brands_grids">
                            @foreach (var item in Model.Products)
                            {
                                <div class="col-md-4 top_brand_left">
                                    <div class="hover14 column">
                                        <div class="agile_top_brand_left_grid">
                                            <div class="agile_top_brand_left_grid_pos">
                                                <img src="~/images/offer.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="agile_top_brand_left_grid1">
                                                <figure>
                                                    <div class="snipcart-item block">
                                                        <div class="snipcart-thumb">
                                                            <a href="@Url.Action("GetProduct", "Products", new { id = item.ProductId })"><img title=" " alt=" " src="~/images/4.png" /></a>
                                                            <p>@item.ProductName</p>
                                                            <div class="stars">
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                                            </div>
                                                            <h4>@item.Price TL</h4>
                                                        </div>
                                                        <div class="snipcart-details top_brand_home_details">
                                                            @if (User.Identity.IsAuthenticated)
                                                            {
                                                                <form asp-controller="Baskets" asp-action="Add" method="post">
                                                                    <fieldset>
                                                                        <input type="hidden" name="productId" value="@item.ProductId">
                                                                        <input type="hidden" name="quantity" value="1">
                                                                        <input type="submit" name="submit" value="Sepete Ekle" class="button">
                                                                    </fieldset>
                                                                </form>

                                                            }
                                                            else
                                                            {
                                                               
                                                                    <form asp-controller="Account" asp-action="LogOn" method="post">
                                                                        <fieldset>
                                                                            <input type="hidden" name="productId" value="@item.ProductId">
                                                                            <input type="hidden" name="quantity" value="1">
                                                                            <input type="submit" name="submit" value="Sepete Ekle" class="button">
                                                                        </fieldset>
                                                                    </form>

                                                                
                                                            }
                                                            @*<form action="#" method="post">
            <fieldset>
                <input type="hidden" name="cmd" value="_cart" />
                <input type="hidden" name="add" value="1" />
                <input type="hidden" name="business" value=" " />
                <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                <input type="hidden" name="amount" value="35.99" />
                <input type="hidden" name="discount_amount" value="1.00" />
                <input type="hidden" name="currency_code" value="USD" />
                <input type="hidden" name="return" value=" " />
                <input type="hidden" name="cancel_return" value=" " />
                <input type="submit" name="submit" value="Sepete Ekle" class="button" />
            </fieldset>
        </form>*@
                                                        </div>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                            <div class="clearfix"> </div>
                        </div>
                        

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
                        @*<div class="agile-tp">
                                <h5>This week</h5>
                                <p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
                            </div>*@
                        <div class="agile_top_brands_grids">

                            <div class="clearfix"> </div>
                        </div>
                        <div class="agile_top_brands_grids">

                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //top-brands -->
<!---728x90--->
<!-- Carousel
   ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="beverages.html"> <img class="first-slide" src="~/images/b1.jpg" alt="First slide"></a>

        </div>
        <div class="item">
            <a href="personalcare.html"> <img class="second-slide " src="~/images/b3.jpg" alt="Second slide"></a>

        </div>
        <div class="item">
            <a href="household.html"><img class="third-slide " src="~/images/b1.jpg" alt="Third slide"></a>

        </div>
    </div>

</div><!-- /.carousel -->
<!--banner-bottom-->
<div class="ban-bottom-w3l">
    <div class="container">
        <div class="col-md-6 ban-bottom3">
            <div class="ban-top">
                <img src="~/images/p2.jpg" class="img-responsive" alt="" />

            </div>
            <div class="ban-img">
                <div class=" ban-bottom1">
                    <div class="ban-top">
                        <img src="~/images/p3.jpg" class="img-responsive" alt="" />

                    </div>
                </div>
                <div class="ban-bottom2">
                    <div class="ban-top">
                        <img src="~/images/p4.jpg" class="img-responsive" alt="" />

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 ban-bottom">
            <div class="ban-top">
                <img src="~/images/111.jpg" class="img-responsive" alt="" />


            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--banner-bottom-->
